body {
   
   font-family: 'Montserrat', sans-serif;
   background-color: #f7f7f7;
}

/**5f5f5f & ebebeb & fff & 000 ***/
@media (min-width: 992px) {
	body {

	}
}

h1,h2,h3, h4{
	margin-bottom: 0px;
}

h2{
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 700;
}

form{
	margin-bottom: 40px;
}

small.hint{
	color: #777777;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 10px;
    display: inherit;
}

.uppercased{
	text-transform: uppercase;
}

#stickee-logo{
	margin-top: 17px;
	margin-bottom: 50px;
}

#stickee-order-request{

}

#stickee-generated{

}

#stickee-checkout{

}

#stickee-submit-generate{
	margin-top: 40px;
	margin-bottom: 100px;
}

#stickee-submit-generate > img{
 margin-top: -2px;
}

.btn{
	height: 40px;
 	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(96,96,96) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(96,96,96) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(96,96,96) 100%);
	color: #fff;
	font-weight: 600;
}

.orderForm_spinning{
	color: #fff;
}

.btn:hover{
	color: #777777;
}

.btn-arrow{
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 90% 50%;
	padding-right: 50px;
}

.widget{
	margin: 15px 0;
}

.widget > .top{
	background: #5f5f5f;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.widget > .bottom{
	overflow-y: hidden;
	/*padding: 0px 10px 10px 10px;*/
}

.widget > .bottom > div{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 20px;
	min-height: 117px;
	background-color: #fff;
/*	-webkit-box-shadow: 3px 2px 10px 12px rgba(214,214,214,0.39);
	-moz-box-shadow: 3px 2px 10px 12px rgba(214,214,214,0.39);
	box-shadow: 3px 2px 10px 12px rgba(214,214,214,0.39);*/
}

.widget > .top > h3{
	padding: 20px !important;
	font-size: 20px;
	font-weight: 500;
}

.total-title{
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
}

.total-value{
	font-size: 18px;
	color: #777777;
}
